@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --primary: #0e1630;
  --primary-foreground: white;
  --background-start-rgb: 214, 219, 220;
  --gradient-x: 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --primary: #0e1630;
    --primary-foreground: white;
    --background-start-rgb: 214, 219, 220;

    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: #ffffff;
  background: var(--primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .custom-container {
    max-width: 1130px;
    padding: 0 15px;
    margin: auto;
  }

  .text {
    font-weight: 600;
    letter-spacing: 11px;
    text-transform: uppercase;
    /* font-family: "Inter", sans-serif;    Use 'Kanit' font and fallback to sans-serif */
    font-size: 13px;
    fill: #fff4f4;
    /* text-shadow: 2px 0px #ccc; */
  }



  #rotatingText {
    animation-name: rotate-circle;
    animation-duration: 10s;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }


  @keyframes rotate-circle {
    to {
      transform: rotate(1turn);
    }
  }
}