@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  background: #0e1630;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .custom-container {
    max-width: 1130px;
    padding: 0 15px;
    margin: auto;
  }
  .text {
    font-weight: 600;
    letter-spacing: 11px;
    text-transform: uppercase;
    font-family: "Kanit", sans-serif; /* Use 'Kanit' font and fallback to sans-serif */
    font-size: 13px;
    fill: #fff4f4;
    /* text-shadow: 2px 0px #ccc; */
  }

  .timeline::before {
    content: "";
    position: absolute;
    width: 12px;
    border-radius: 50%;
    height: 12px;
    background-color: antiquewhite;
    left: -6px;
    top: 7px;
    transition: 0.3ms;
  }
  .timeline::after {
    content: "";
    background-color: #333333;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: -1;
  }

  #rotatingText {
    animation-name: rotate-circle;
    animation-duration: 10s;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
 

  @keyframes rotate-circle {
    to {
      transform: rotate(1turn);
    }
  }
}
